.user-dashboard{
    display: flex;
    flex-direction: column;
}

.user-details{
    flex: 1;
}

.user-upcoming-events{
    flex: 1;
    margin: 0 auto;
    padding: 2px;
    margin-top: 15px;
    width: 100%;
}

table.user-details-table{
    padding: 10px;
}

table.user-details-table th{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2px dashed rgb(202, 193, 193);
    width: 100%;
    text-align: left;
}

table.user-details-table tr{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

table.user-details-table td{
    flex: 1;
    padding: 2px;
}

table.user-details-table td:nth-child(2){
    flex: 2;
    padding-left: 5px;
}

.user-details table{
    margin: 0 auto;
    border: 1px solid black;
    padding: 2px;
    width: 100%;
}

.user-details th{
width: 100%;
font-size: 18px;
}

.user-dashboard section{
    padding: 5px;
}
.user-dashboard section:nth-child(1){
    font-size: .7em;
}
.user-dashboard section:nth-child(2){
    font-size: .8em;
}



/* UPCOMING EVENTS TABLE */

.user-upcoming-events-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
}
.user-upcoming-events-table thead{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 8px;
}
.user-upcoming-events-table tbody{
    display: block;
    width: 100%;
    font-size: 10px;
}

.user-upcoming-events-table tbody th{
    font-size: 12px;
    padding: 5px;
    width: 100%;
}
.user-upcoming-events-table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-upcoming-events-table tbody tr td{
    flex: 1;
    font-size: 10px;
    padding-left: 2px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .user-dashboard{
        flex-direction: row;
    }

    .user-upcoming-events{
        flex: 1;
        margin-top: 0;
        margin-left: 25px;
    }

    .user-dashboard section:nth-child(1){
        font-size: 1em;
    }
    .user-dashboard section:nth-child(2){
        font-size: 1.3em;
    }

    .user-details{
        font-size: 10px;
    }
    
    table.user-details-table{
        padding: 10px;
    }
    
    table.user-details-table th{
        font-size: 23px;
    }

/* UPCOMING EVENTS TABLE */

.user-upcoming-events-table{
    display: block;
    width: 100%;
    border-collapse: collapse;
}
.user-upcoming-events-table thead{
    display: inline-block;
    width: 100%;
    font-size: 22px;
    margin-bottom: 8px;
}


.user-upcoming-events-table tbody th{
    font-size: 16px;
    padding: 5px;
    width: 100%;
}
.user-upcoming-events-table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-upcoming-events-table tbody tr td{
    flex: 1;
    font-size: 14px;
    padding-left: 2px;
    text-align: center;
}

  }

@media only screen and (min-width: 800px) {
    .user-upcoming-events{
        flex: 2;
    }

}