.user-details table{
        margin: 0 auto;
        border: 1px solid black;
        padding: 2px;
        width: 100%;
}

.user-details th{
    width: 100%;
    font-size: 18px;
}

@media only screen and (min-width: 500px) {
    #signin-form{
        width: 300px;
        padding: 25px;
        font-size: 16px;
    }
  }