#add-event-form{
    width: 100%;
}

textarea{
    display: block;
    width: 100%;
    height: 85px;
}

#add-event-form input[type="date"]{
    display: inline-block;
    width: 45%;
}

#add-event-form input[type="number"]{
    display: inline-block;
    width: 25%;
}

@media only screen and (min-width: 500px) {
    #add-event-form{
        width: 500px;
        padding: 25px;
        font-size: 22px;
    }
    #add-event-form input{
        height: 26px;
    }
    #add-event-form button{
        font-size: 20px;
        width: 200px;
        height: 35px;
    }
  }