a{
    text-decoration: none;
}

a h1{
    font-size: 20px;
}

nav{
    margin-top: 10px;
}

nav a{
    display: inline-block;
    width: 21%;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 12px;
}

nav a:link, nav a:visited{
    color: black;
}

nav a:hover{
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

nav a:active{
    color: black;
}

@media only screen and (min-width: 500px) {
    a h1{
        font-size: 2.4em;
    }

    nav a{
        font-size: 1em;
    }
}