#register-form{
    width: 100%;
    padding: 15px;
    font-size: 14px;
}

#register-form textarea{
    display: block;
    width: 100%;
    height: 65px;
}

.radio{
    border: 1px solid #b3b3b3;
    width: 100%;
}

#register-form fieldset{
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

#register-form fieldset li{
    display: inline-block;
    text-align: center;
    width: 45%;
}

#register-form fieldset input{
    width: 12px;
    vertical-align: middle;
}

#register-form fieldset label{
    margin-left: 5px;
}

@media only screen and (min-width: 400px) {
    #register-form{
        width: 65%;
        padding: 25px;
        font-size: 16px;
    }

    #register-form fieldset li{
        display: inline-block;
        text-align: center;
        width: 45%;
    }

    #register-form fieldset input{
        width: 16px;
        vertical-align: baseline;
    }
  }


@media only screen and (min-width: 600px) {
    #register-form{
        width: 500px;
        padding: 25px;
        font-size: 25px;
    }
    #register-form input{
        height: 40px;
    }
    #register-form button{
        font-size: 20px;
        width: 200px;
        height: 35px;
    }

    #register-form select{
        font-size: 25px;
        width: 200px;
        height: 35px;
    }

    #register-form fieldset li{
        display: inline-block;
        text-align: center;
        width: 45%;
    }

    #register-form fieldset input{
            width: 20px;
            vertical-align: text-bottom;
    }
}